* {
  box-sizing: border-box;
}

:root{
  --background-color1: #d2dbdc;
  --background-color2: #ededed;
  --stroke-right: 1px solid #DDD;
}

body {
  background-color: var(--background-color1);
  margin: 0;
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Lucida, Arial;
}

.app-window {
  display: flex;
  height: 100vh;
  background-color: var(--background-color2);
}

.sidebar{
  width: 35%;
  max-width: 415px;
  display: flex;
  flex-direction: column;
  border-right: var(--stroke-right);
}

header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.header-avatar{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.header-buttons{
  display: flex;
}

.header-btn{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search{
  background-color: #f6f6f6;
  border-bottom: var(--stroke-right);
  padding: 5px 15px;
}

.search-input{
  background-color: #fff;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-input input{
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  margin-left: 10px;
}

.chatlist{
  flex: 1;
  background-color: #fff;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, .2);
}

.contentarea{

}